
.footer {
    width: 40%;
    margin:auto;
    padding: 20px;
}
.footer-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display:flex;
    justify-content: space-around;
    text-decoration:none;
    list-style: none;
    
}
.link i{
    color:black;
    font-size: 1.5rem;
    opacity: 0.5;
    margin-bottom: 2rem;
}
.footer-container p{
    
    font-size: 0.8rem;
    color: darkgray;
}